<div class="search-tools">
    <div class="filters">
        <div class="filter">
            <label for="repositoryLanguageSearchString">Language</label>
            <div>
              {{input id='repositoryLanguageSearchString' type='text' placeholder='Enter repository language' value=repositoryLanguageSearchString}}
            </div>
        </div>
        <div class="filter">
          {{input id='repositoryPrivateFlag' type='checkbox' checked=repositoryPrivateFlag}}
        </div>
    </div>
</div>