<div class="comment">
    <div class="comment-image">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQE0Wxf9hEJqYq5NXVQRKEKQAcekCIYPG4xIpMxGe41NVAa1FJ2V4DAdB_C">
    </div>
    <div class="comment-content">
        <h1>Error!</h1>
        <p>
          Unfortunately that page can not be found!
            {{error}}
        </p>
    </div>
</div>